<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt40 mb40">
            <h3 class="oe_slogan">Partner/Customer/vendor address Label</h3>
            <h4 class="oe_slogan">This module generate  partners/vendor/customer label sticker  with their address.User can print sticker PDF on self adhesive paper,and use that sticker on product parcel to deliver to their customers/vendors.This module Works on both community and enterprise version 11</h4>
        </div>
    </div>
</section>

<section class="oe_container">
        <div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="1.png" width="340" height="450">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="2.png" width="340" height="450">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                
                    <img src="1.jpg" width="340" height="450">
            </div>
               
        </div>
       

</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h3 class="oe_slogan">For any queries please contact us on virzoteck@gmail.com</h3>
        </div>
    </div>
</section>
